.content {
  padding: 70px;
  background: #fff;
}

h1 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 14px;
}

.subTitleWrap {
  transition: all ease-in-out 1s;
}

.subTitle {
  margin: 10px 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;

  .subtitle {
    font-weight: bold;
    font-size: 14px;
  }

  /* 收齐 */
  &.arrow .subtitle {
    &::after {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 10px;
      border-color: transparent transparent transparent #444;
      border-style: solid;
      border-width: 5px 0 5px 8.66px;
      content: '';
    }
  }

  /* 展开 */
  &.arrow.unfold .subtitle {
    &::after {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 10px;
      border-color: #444 transparent transparent;
      border-style: solid;
      border-width: 8.66px 5px 0;
      content: '';
    }
  }
}
