.LinksNavBar {
  background: #fff;
  padding: 12px 20px;
  font-size: 14px;
  line-height: 30px;
  border-bottom: 1px solid #e9eef5;
  a {
    padding: 0 10px;
    &:hover {
      color: #ff5a00;
      text-decoration: underline;
    }
  }
}
