  {% block body %}
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Nomadlist</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">首页</a></li>
          <li><a href="/forum">论坛</a></li>
          <li><a href="/chat">在线聊天室</a></li>
          <li><a href="/work">工作室首页</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="../navbar/">免费注册</a></li>
          <li><a href="../navbar/">登陆</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="section">
      <div class="container">
        <div class="filter-wrap">
          <div class="filter-item">
            <span class="filter-item-title">区域</span>
            <a class="btn btn-default" href="javascript:;">非洲</a>
            <a class="btn btn-default" href="javascript:;">亚洲</a>
            <a class="btn btn-default" href="javascript:;">欧洲</a>
            <a class="btn btn-default" href="javascript:;">中东</a>
            <a class="btn btn-default" href="javascript:;">南美</a>
            <a class="btn btn-default" href="javascript:;">北美</a>
            <a class="btn btn-default" href="javascript:;">大洋洲</a>
            <a class="btn btn-default" href="javascript:;">Solar System</a>
          </div>
          <div class="filter-item">
            <span class="filter-item-title">月份</span>
            <a class="btn btn-default" href="javascript:;">1月</a>
            <a class="btn btn-default" href="javascript:;">2月</a>
            <a class="btn btn-default" href="javascript:;">3月</a>
            <a class="btn btn-default" href="javascript:;">4月</a>
            <a class="btn btn-default" href="javascript:;">5月</a>
            <a class="btn btn-default" href="javascript:;">6月</a>
            <a class="btn btn-default" href="javascript:;">7月</a>
            <a class="btn btn-default" href="javascript:;">8月</a>
            <a class="btn btn-default" href="javascript:;">9月</a>
            <a class="btn btn-default" href="javascript:;">10月</a>
            <a class="btn btn-default" href="javascript:;">11月</a>
            <a class="btn btn-default" href="javascript:;">12月</a>
          </div>
          <div class="filter-item">
            <span class="filter-item-title">城市</span>
            <button type="button" class="btn btn-default">Small Town</button>
            <button type="button" class="btn btn-default">City</button>
            <button type="button" class="btn btn-default">Big City</button>
          </div>
          <div class="filter-item">
            <span class="filter-item-title">消费</span>
            <button type="button" class="btn btn-default">少于750美元</button>
            <button type="button" class="btn btn-default">少于1250美元</button>
            <button type="button" class="btn btn-default">少于3000美元</button>
            <button type="button" class="btn btn-default">大于3000美元</button>
          </div>
          <div class="filter-item">
            <span class="filter-item-title">气候</span>
            <button type="button" class="btn btn-default">小于20度</button>
            <button type="button" class="btn btn-default">16至25度</button>
            <button type="button" class="btn btn-default">大于21度</button>
            <button type="button" class="btn btn-default">大于30度</button>
          </div>
          <div class="filter-item">
            <span class="filter-item-title">网络</span>
            <button type="button" class="btn btn-default">Fast Internet</button>
            <button type="button" class="btn btn-default">Very Fast Internet</button>
          </div>
          <div class="filter-item">
            <span class="filter-item-title">其他</span>
            <button type="button" class="btn btn-default">Near You</button>
            <button type="button" class="btn btn-default">Coworking</button>
            <button type="button" class="btn btn-default">Safe</button>
            <button type="button" class="btn btn-default">Clean Air</button>
            <button type="button" class="btn btn-default">Nightlife</button>
            <button type="button" class="btn btn-default">Friendly</button>
            <button type="button" class="btn btn-default">Beach</button>
            <button type="button" class="btn btn-default">Fun</button>
            <button type="button" class="btn btn-default">Female Friendly</button>
            <button type="button" class="btn btn-default">Gay Friendly</button>
            <button type="button" class="btn btn-default">Legal Weed</button>
            <button type="button" class="btn btn-default">Snow</button>
            <button type="button" class="btn btn-default">Sufring</button>
            <button type="button" class="btn btn-default">Safe Car Traffic</button>
            <button type="button" class="btn btn-default">Peaceful</button>
            <button type="button" class="btn btn-default">Freedom of Speech</button>
            <button type="button" class="btn btn-default">Many Men</button>
            <button type="button" class="btn btn-default">Many Women</button>
            <button type="button" class="btn btn-default">Outdoors</button>
            <button type="button" class="btn btn-default">Has Uber</button>
            <button type="button" class="btn btn-default">Low Racism</button>
            <button type="button" class="btn btn-default">Free Wifi</button>
            <button type="button" class="btn btn-default">Healthy Male BMI</button>
            <button type="button" class="btn btn-default">Healthy Female BMI</button>
            <button type="button" class="btn btn-default">Has Aircon</button>
            <button type="button" class="btn btn-default">Low Traffic</button>
            <button type="button" class="btn btn-default">Has Schengen</button>
            <button type="button" class="btn btn-default">Good English</button>
            <button type="button" class="btn btn-default">Not Religious</button>
            <button type="button" class="btn btn-default">Few Mosquitos</button>
            <button type="button" class="btn btn-default">Golf</button>
            <button type="button" class="btn btn-default">Diving</button>
            <button type="button" class="btn btn-default">Vegan Food</button>
            <button type="button" class="btn btn-default">Recommended</button>
            <button type="button" class="btn btn-default">Humid Air</button>
            <button type="button" class="btn btn-default">Dry Air</button>
            <button type="button" class="btn btn-default">Comfy Air</button>
            <button type="button" class="btn btn-default">8h Flight</button>
            <button type="button" class="btn btn-default">2h Flight</button>
            <button type="button" class="btn btn-default">6h Flight</button>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>
  </div>
  {% endblock %}
