{% extends "layouts/pc-default/index.html" %}

{% block body %}
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div>更新记录</div>
            <ul>
                <li>
                    <div>0.10.0</div>
                    <div>
                        <div>2019-04-07 18:23:53</div>
                        <div>
                            增加分类、关于、术语表、服务条款、政策条款、隐私政策、招聘、团队、报导页面。
                        </div>
                    </div>
                </li>
                <li>
                    <div>0.9.2</div>
                    <div>
                        <div>2019-03-02 18:19:39</div>
                        <div>
                            项目初始化
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
