.entry {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 20px 0;
  background: #fff;
}
.metaWrapper {
  display: flex;
  align-items: center;
  color: #86909c;
}
.tagList {
  display: flex;
  align-items: center;
  .tag {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    font-size: 13px;
    line-height: 22px;
  }
}
.contentWrapper {
  display: flex;
  width: 100%;
  margin-top: 10px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e5e6eb;
  .contentMain {
    flex: 1 1 auto;
  }
}

.titleRow {
  display: flex;
  margin-bottom: 8px;
}
.detail {
  margin-bottom: 10px;
}
.actionList {
  display: flex;
  align-items: center;
}
