# 默认为true，相当于hoist-pattern[]=*。
# 所有的依赖会从node_modules/.pnpm链接一份node_modules/.pnpm/node_modules里面。也就是说所有你项目里面依赖的依赖都可以引用到项目里面所有的依赖。
# hoist=true
# hoist-pattern=hoist-pattern[]=*

# 默认为false；如果为true，相当于public-hoist-pattern[]=*
# 所有依赖都会链接一份到最外层的node_modules目录里面。那么很可能造成幽灵依赖的问题，不建议这么做。
# shamefully-hoist=true
# 保险的方法是使用 false，再手动设置白名单

# 命中正则的会提升到最外层的node_modules里面
# public-hoist-pattern=['types', 'eslint', '@prettier/plugin-*', 'prettier-plugin-']
public-hoist-pattern[]=*prisma*
public-hoist-pattern[]=*canvas*
# public-hoist-pattern[]=*eslint*
# public-hoist-pattern[]=*prettier*
hoist-pattern[]=!@chakra-ui/styled-system

# electron project
hoist-pattern[]=!electron
hoist-pattern[]=!electron-builder
hoist-pattern[]=!electron-extension-installer
hoist-pattern[]=!electron-vite
hoist-pattern[]=!@electron-toolkit/preload
hoist-pattern[]=!electron-router-dom

@tongdelove:registry=https://npm.pkg.github.com

# auto-install-peers=true

# 如果不要 pnpm to fail on peer dependency issues，设为 false
# 严格检测缺失或者无效的依赖
# strict-peer-dependencies=true
# used in tandem with package.json engines section to only use yarn
# engine-strict=true

# 使用 pnp
# node-linker=hoisted
# node-linker=pnp
# symlink=false

## 参考
# - https://juejin.cn/post/7077918263954374670#heading-8
# electron_mirror="https://npm.taobao.org/mirrors/electron/"
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
shamefully-hoist=true

auto-install-peers=true
strict-peer-dependencies=false


package-manager-strict=false

# https://github.com/electron-userland/electron-builder/issues/8346
virtual-store-dir-max-length=70
