html {
  background: #f7f7f7;
}
.body {
  margin: 1em;
  font-size: 12px;
  position: relative;
}
.body h1 {
  margin: 0 0 12px auto;
  font-size: 22px;
  padding: 5px 0;
  color: #333;
}
.body a {
  color: #00f;
  text-decoration: underline;
  margin-left: 3px;
  margin-right: 3px;
}
.body input[type=text],
.body textarea {
  border: solid 1px #00947a;
  padding: 5px;
  font-size: 14px;
  display: block;
  border-radius: 2px;
  box-shadow: inset 2px 2px 2px rgba(0,0,0,0.1);
  outline: none;
  resize: none;
  width: 90%;
  background: #fafafa;
  margin-bottom: 1em;
}
.body input[type=submit] {
  background: #00947a;
  color: #fff;
  border: none;
  padding: 8px 24px;
  border-radius: 2px;
}
.body textarea {
  min-height: 400px;
  margin-top: 1em;
}
