.item {
  display: flex;
}

.detail {
  width: 1000px;
  margin: 0 0 10px;
}

.pic {
  width: 100px;
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 700;
  margin-bottom: 0;
  color: #000;
}

.title a {
  color: #000;
}

.badges {
  color: #666;
  font-size: 14px;
}
