.Form {
  width: 100%;
  color: 18px;
  min-width: 62vw;
  max-height: 90vh;
  overflow-y: auto;
}

// @media screen and (min-width: $desktop) {
//   .Form {
//     min-width: 38vw;
//   }
// }

.FormHeader {
  // background-color: $primary;
  // padding: $padding;
  // padding-top: $padding * 2.62;
  // font-size: $goldenPercent;

  .title {
    margin: 0;
    text-transform: capitalize;
  }
}

.FormBody {
  label {
    text-transform: capitalize;
    display: block;

    input,
    textarea {
      width: 100%;
      display: block;
      color: #fff;

      &[type='checkbox'] {
        display: inline-block;
        width: initial;
      }

      &:focus {
        outline: none;
      }

      &:disabled {
        visibility: hidden;
      }
    }
  }
}

.FormFooter {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
