.content {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 1260px;
  margin: 20px auto;

  .main {
    width: 970px;
  }

  .sider {
    width: 270px;
  }
}

.actionBar {
  display: flex;
  justify-content: flex-end;
}
