.edit-accounts {
  width: 500px;
  margin: 0 auto;
  .header {
    margin-bottom: 20px;
    .avatar {
      display: inline-block;
      width: 50px;
      height: 50px;
      margin-right: 25px;
      overflow: hidden;
      background-color: #efefef;
      background-size: 100% 100%;
      border-radius: 50%;
      cursor: pointer;
    }
    .username {
      height: 50px;
      color: #000;
      font-weight: 400;
      font-size: 23px;
      line-height: 50px;
    }
    .notice {
      color: #3897f0;
      font-weight: 800;
      font-size: 14px;
      cursor: pointer;
    }
  }
  .form-item-label {
    margin-right: 15px;
    color: #262626;
    font-weight: bold;
    font-size: 16px;
  }
}
