.comp-wrapper {
  z-index: 99;
  display: flex;
  justify-content: center;
  place-items: center;
  text-align: center;

  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 1s;
}

.comp-wrapper--lazy {
  position: absolute;
  right: 0;
  top: 0;
  justify-content: flex-end;
  place-items: flex-end;
  padding: 5px;
}

.comp-wrapper--fullscreen {
  height: 95vh;
}
