<div class="items-page">
    <div class="section-head">
        <h3>
            <a href="/products">分类</a>
        </h3>
    </div>
    <div class="bt ppt">
        <div class="row row-mobile pb">
            <div class="column column-20">
                <h4><a href="/collections/boxes">Boxes</a></h4>
            </div>
            <div class="column">
                <grid columns-s="3" columns-l="5">
                    <c class="product-wrap ">
                        <div class="product reveal">
                            <a href="/products/corrugated-mailer-boxes" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/corrugated-boxes/die-cut-corrugated-open.png?mtime=20180329130520" class="productThumb fade-in image-ratio-high image-loaded"><img src="https://s3.amazonaws.com/lumi-blog/corrugated-boxes/die-cut-corrugated-closed.png?mtime=20180329130517" class="hidden productThumb image-ratio-high image-loaded"></a>
                        </div>
                        <div class="product-details">
                            <h4>
                                <a href="/products/corrugated-mailer-boxes" class="action-hover">Corrugated Mailer Boxes<br></a>
                            </h4>
                        </div>
                    </c>
                    <c class="product-wrap ">
                        <div class="product reveal">
                            <a href="/products/slotted-corrugated-boxes" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/slotted-corrugated-boxes/slotted-corrugated_181119_135425.png?mtime=20181119135425" class="productThumb fade-in image-ratio-high image-loaded"></a>
                        </div>
                        <div class="product-details">
                            <h4>
                                <a href="/products/slotted-corrugated-boxes" class="action-hover">Slotted Corrugated Boxes<br></a>
                            </h4>
                        </div>
                    </c>
                    <c class="product-wrap ">
                        <div class="product reveal">
                            <a href="/products/corrugate-insert" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/corrugate-insert/corrugated-insert.png?mtime=20180402132649" class="productThumb fade-in image-ratio-high image-loaded"><img src="https://s3.amazonaws.com/lumi-blog/corrugate-insert/maude_insert_cover-overhead_1_181210_115820.png?mtime=20181210115819" class="hidden productThumb image-ratio-high image-loaded"></a>
                        </div>
                        <div class="product-details">
                            <h4>
                                <a href="/products/corrugate-insert" class="action-hover">Corrugated Inserts<br></a>
                            </h4>
                        </div>
                    </c>
                    <c class="product-wrap ">
                        <div class="product reveal">
                            <a href="/products/folding-cartons" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/folding-cartons/folding-carton-white_180405_161127.png?mtime=20180405161126" class="productThumb fade-in image-ratio-high image-loaded"></a>
                        </div>
                        <div class="product-details">
                            <h4>
                                <a href="/products/folding-cartons" class="action-hover">Folding Cartons<br></a>
                            </h4>
                        </div>
                    </c>
                </grid>
            </div>
        </div>
        <div class="bt ppt">
            <div class="row row-mobile pb">
              <div class="column column-20">
                <h4><a href="/collections/collateral">Collateral</a></h4>
              </div>
              <div class="column">
                <grid columns-s="3" columns-l="5">

                    <c class="product-wrap ">
                        <div class="product reveal">
                            <a href="/products/flat-cards" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/flat-cards/blank_flat-card_thumbnail_far-1549_EDITED-3.png?mtime=20190220172654" class="productThumb fade-in image-ratio-high image-loaded"><img src="https://s3.amazonaws.com/lumi-blog/flat-cards/blank_flat-card_thumbnail-close_EDITED.png?mtime=20190219113343" class="hidden productThumb image-ratio-high image-loaded"></a>
                        </div>
                        <div class="product-details">
                            <h4>
                                <a href="/products/flat-cards" class="action-hover">Flat Cards<br></a>
                            </h4>
                        </div>
                    </c>
                    <c class="product-wrap ">
                        <div class="product reveal">
                            <a href="/products/pamphlets" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/pamphlets/blank_pamphlet_thumbnail_1432_EDITED-2c_190220_171210.png?mtime=20190220171209" class="productThumb fade-in image-ratio-high image-loaded"><img src="https://s3.amazonaws.com/lumi-blog/pamphlets/blank_pamphlet_thumbnail_1596-close-focus_EDITED.png?mtime=20190219113728" class="hidden productThumb image-ratio-high image-loaded"></a>
                        </div>
                        <div class="product-details">
                            <h4>
                                <a href="/products/pamphlets" class="action-hover">Pamphlets<br></a>
                            </h4>
                        </div>
                    </c>
                    <c class="product-wrap ">
                        <div class="product reveal">
                            <a href="/products/packing-slips" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/packing-slips/packing-slip-far-2.png?mtime=20190219125410" class="productThumb fade-in image-ratio-high image-loaded"><img src="https://s3.amazonaws.com/lumi-blog/packing-slips/blank_packing-slip_thumbnail_EDITED-2.png?mtime=20190219125254" class="hidden productThumb image-ratio-high image-loaded"></a>
                        </div>
                        <div class="product-details">
                            <h4>
                                <a href="/products/packing-slips" class="action-hover">Packing Slips<br></a>
                            </h4>
                        </div>
                    </c>
                    <c class="product-wrap ">
                        <div class="product reveal">
                            <a href="/products/folded-cards" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/folded-cards/blank_folded-card_thumbnail_far-1430_EDITED-6.png?mtime=20190220172501" class="productThumb fade-in image-ratio-high image-loaded"><img src="https://s3.amazonaws.com/lumi-blog/folded-cards/blank_folded-card_thumbnail-close_EDITED-2_190318_110946.png?mtime=20190318110945" class="hidden productThumb image-ratio-high image-loaded"></a>
                        </div>
                        <div class="product-details">
                            <h4>
                                <a href="/products/folded-cards" class="action-hover">Folded Cards<br></a>
                            </h4>
                        </div>
                    </c>
                    <c class="product-wrap ">
                        <div class="product reveal">
                            <a href="/products/paper-envelopes" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/paper-envelopes/blank_paper-envelope_cover_02_EDITED-2.png?mtime=20190311172302" class="productThumb fade-in image-ratio-high image-loaded"><img src="https://s3.amazonaws.com/lumi-blog/paper-envelopes/blank_paper-envelope_thumbnail_01_EDITED.png?mtime=20190311171600" class="hidden productThumb image-ratio-high image-loaded"></a>
                        </div>
                        <div class="product-details">
                            <h4>
                                <a href="/products/paper-envelopes" class="action-hover">Paper Envelopes<br></a>
                            </h4>
                        </div>
                    </c>
                    <c class="product-wrap ">
                        <div class="product reveal">
                            <a href="/products/collateral-sleeves" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/paper-sleeves/blank_paper-sleeve_thumbnail-far_0075.png?mtime=20190227155607" class="productThumb fade-in image-ratio-high image-loaded"><img src="https://s3.amazonaws.com/lumi-blog/paper-sleeves/guava-family_paper-sleeve_cover_01_EDITED.png?mtime=20190305152008" class="hidden productThumb image-ratio-high image-loaded"></a>
                        </div>
                        <div class="product-details">
                            <h4>
                                <a href="/products/collateral-sleeves" class="action-hover">Collateral Sleeves<br></a>
                            </h4>
                        </div>
                    </c>
                    <c class="product-wrap ">
                        <div class="product reveal">
                            <a href="/products/folders" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/folders/blank_folder_thumbnail_01_EDITED-2.png?mtime=20190311174427" class="productThumb fade-in image-ratio-high image-loaded"><img src="https://s3.amazonaws.com/lumi-blog/folders/blank_folder_thumbnail_02_EDITED-crop.png?mtime=20190311131444" class="hidden productThumb image-ratio-high image-loaded"></a>
                        </div>
                        <div class="product-details">
                            <h4>
                                <a href="/products/folders" class="action-hover">Folders<br></a>
                            </h4>
                        </div>
                    </c>
                    <c class="product-wrap ">
                        <div class="product reveal">
                            <a href="/products/paper-belly-bands" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/paper-bands/paper-band_thumbnail-far_0054-2.png?mtime=20190227155955" class="productThumb fade-in image-ratio-high image-loaded"><img src="https://s3.amazonaws.com/lumi-blog/paper-belly-bands/blank_belly-band_thumbnail_01_EDITED.png?mtime=20190318105112" class="hidden productThumb image-ratio-high image-loaded"></a>
                        </div>
                        <div class="product-details">
                            <h4>
                                <a href="/products/paper-belly-bands" class="action-hover">Paper Belly Bands<br></a>
                            </h4>
                        </div>
                    </c>
                </grid>
            </div>
            </div>
                <div class="bt ppt">
            <div class="row row-mobile pb">
              <div class="column column-20">
                <h4><a href="/collections/mailers">Mailers</a></h4>
              </div>

              <div class="column">
                            <grid columns-s="3" columns-l="5">

    <c class="product-wrap ">
        <div class="product reveal">
            <a href="/products/poly-mailers" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/poly-mailers-1/poly-close_180328_103247.png?mtime=20180328103247" class="productThumb fade-in image-ratio-high image-loaded"><img src="https://s3.amazonaws.com/lumi-blog/poly-mailers-1/poly-over2.png?mtime=20180328102225" class="hidden productThumb image-ratio-high image-loaded"></a>
        </div>
        <div class="product-details">
            <h4>
                <a href="/products/poly-mailers" class="action-hover">Poly Mailers<br></a>
            </h4>
        </div>
    </c>
    <c class="product-wrap ">
        <div class="product reveal">
            <a href="/products/laminated-pouches" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/laminated-pouches/laminated-pouch-close_180328_102416.png?mtime=20180328102416" class="productThumb fade-in image-ratio-high image-loaded"><img src="https://s3.amazonaws.com/lumi-blog/laminated-pouches/laminated-pouch-over2.png?mtime=20180328102418" class="hidden productThumb image-ratio-high image-loaded"></a>
        </div>
        <div class="product-details">
            <h4>
                <a href="/products/laminated-pouches" class="action-hover">Laminated Pouches<br></a>
            </h4>
        </div>
    </c>
    <c class="product-wrap ">
        <div class="product reveal">
            <a href="/products/tyvek-mailers" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/tyvek-mailers/tyvek-close_180328_102427.png?mtime=20180328102426" class="productThumb fade-in image-ratio-high image-loaded"><img src="https://s3.amazonaws.com/lumi-blog/tyvek-mailers/tyvek-over2.png?mtime=20180328102429" class="hidden productThumb image-ratio-high image-loaded"></a>
        </div>
        <div class="product-details">
            <h4>
                <a href="/products/tyvek-mailers" class="action-hover">Tyvek Mailers<br></a>
            </h4>
        </div>
    </c>
    <c class="product-wrap ">
        <div class="product reveal">
            <a href="/products/poly-bubble-mailers" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/soft-shell-poly-bubble-mailers/soft-shell-poly-bubble-close_180328_102440.png?mtime=20180328102440" class="productThumb fade-in image-ratio-high image-loaded"><img src="https://s3.amazonaws.com/lumi-blog/soft-shell-poly-bubble-mailers/soft-shell-poly-bubble-over2.png?mtime=20180328102443" class="hidden productThumb image-ratio-high image-loaded"></a>
        </div>
        <div class="product-details">
            <h4>
                <a href="/products/poly-bubble-mailers" class="action-hover">Soft Shell Poly Bubble Mailers<br></a>
            </h4>
        </div>
    </c>
    <c class="product-wrap ">
        <div class="product reveal">
            <a href="/products/hard-shell-poly-bubble-mailers" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/hard-shell-poly-mailers/hardshell-poly-bubble-close_180328_102459.png?mtime=20180328102459" class="productThumb fade-in image-ratio-high image-loaded"><img src="https://s3.amazonaws.com/lumi-blog/hard-shell-poly-mailers/hardshell-poly-bubble-mailer2_180328_134623.png?mtime=20180328134622" class="hidden productThumb image-ratio-high image-loaded"></a>
        </div>
        <div class="product-details">
            <h4>
                <a href="/products/hard-shell-poly-bubble-mailers" class="action-hover">Hard Shell Poly Bubble Mailers<br></a>
            </h4>
        </div>
    </c>
    <c class="product-wrap ">
        <div class="product reveal">
            <a href="/products/expandable-kraft-mailers" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/expandable-kraft-mailers/expandable-kraft-reinforced-close_180328_102545.png?mtime=20180328102543" class="productThumb fade-in image-ratio-high image-loaded"><img src="https://s3.amazonaws.com/lumi-blog/expandable-kraft-mailers/expandable-kraft-reinforced-over2.png?mtime=20180328102546" class="hidden productThumb image-ratio-high image-loaded"></a>
        </div>
        <div class="product-details">
            <h4>
                <a href="/products/expandable-kraft-mailers" class="action-hover">Expandable Kraft Mailers<br></a>
            </h4>
        </div>
    </c>
    <c class="product-wrap ">
        <div class="product reveal">
            <a href="/products/flexible-kraft-mailers" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/flexible-kraft-mailers/flexible-kraft-close_180328_102613.png?mtime=20180328102613" class="productThumb fade-in image-ratio-high image-loaded"><img src="https://s3.amazonaws.com/lumi-blog/flexible-kraft-mailers/flexible-kraft-over2.png?mtime=20180328102615" class="hidden productThumb image-ratio-high image-loaded"></a>
        </div>
        <div class="product-details">
            <h4>
                <a href="/products/flexible-kraft-mailers" class="action-hover">Flexible Kraft Mailers<br></a>
            </h4>
        </div>
    </c>
    <c class="product-wrap ">
        <div class="product reveal">
            <a href="/products/rigid-kraft-mailers" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/rigid-kraft-mailers/rigid-kraft-close_180328_102633.png?mtime=20180328102633" class="productThumb fade-in image-ratio-high image-loaded"><img src="https://s3.amazonaws.com/lumi-blog/rigid-kraft-mailers/rigid-kraft-over2.png?mtime=20180328102635" class="hidden productThumb image-ratio-high image-loaded"></a>
        </div>
        <div class="product-details">
            <h4>
                <a href="/products/rigid-kraft-mailers" class="action-hover">Rigid Kraft Mailers<br></a>
            </h4>
        </div>
    </c>
    <c class="product-wrap ">
        <div class="product reveal">
            <a href="/products/kraft-bubble-mailers" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/paper-bubble-mailers/paper-bubble-close_180328_102645.png?mtime=20180328102645" class="productThumb fade-in image-ratio-high image-loaded"><img src="https://s3.amazonaws.com/lumi-blog/paper-bubble-mailers/paper-bubble-over2.png?mtime=20180328102647" class="hidden productThumb image-ratio-high image-loaded"></a>
        </div>
        <div class="product-details">
            <h4>
                <a href="/products/kraft-bubble-mailers" class="action-hover">Paper Bubble Mailers<br></a>
            </h4>
        </div>
    </c>	</grid>          </div>
          </div>
                <div class="bt ppt">
            <div class="row row-mobile pb">
              <div class="column column-20">
                <h4><a href="/collections/tape">Tape</a></h4>
              </div>

              <div class="column">
                            <grid columns-s="3" columns-l="5">

    <c class="product-wrap ">
        <div class="product reveal">
            <a href="/products/gummed-paper-tape" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/non-reinforced-paper-tape/nonreinforced-paper-tape-kraft.png?mtime=20180329125727" class="productThumb fade-in image-ratio-high image-loaded"><img src="https://s3.amazonaws.com/lumi-blog/gummed-paper-tape-1/reinforced-paper-tape.png?mtime=20180330092501" class="hidden productThumb image-ratio-high image-loaded"></a>
        </div>
        <div class="product-details">
            <h4>
                <a href="/products/gummed-paper-tape" class="action-hover">Gummed Paper Tape<br></a>
            </h4>
        </div>
    </c>
    <c class="product-wrap ">
        <div class="product reveal">
            <a href="/products/packing-tape" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/packing-tape/packing-tape-clear-update.png?mtime=20180402141005" class="productThumb fade-in image-ratio-high image-loaded"><img src="https://s3.amazonaws.com/lumi-blog/packing-tape/poly-tape.png?mtime=20180329141737" class="hidden productThumb image-ratio-high image-loaded"></a>
        </div>
        <div class="product-details">
            <h4>
                <a href="/products/packing-tape" class="action-hover">Packing Tape<br></a>
            </h4>
        </div>
    </c>
    <c class="product-wrap ">
        <div class="product reveal">
            <a href="/products/masking-tape" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/masking-tape/masking-tape_180402_141142.png?mtime=20180402141141" class="productThumb fade-in image-ratio-high image-loaded"></a>
        </div>
        <div class="product-details">
            <h4>
                <a href="/products/masking-tape" class="action-hover">Masking Tape<br></a>
            </h4>
        </div>
    </c>	</grid>          </div>
          </div>
                <div class="bt ppt">
            <div class="row row-mobile pb">
              <div class="column column-20">
                <h4><a href="/collections/inner-bags">Inner Bags</a></h4>
              </div>

              <div class="column">
                            <grid columns-s="3" columns-l="5">

    <c class="product-wrap ">
        <div class="product reveal">
            <a href="/products/clear-zip-top-bags" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/zip-top-bags/zip-top-bag-close_180330_113306.png?mtime=20180330113305" class="productThumb fade-in image-ratio-high image-loaded"><img src="https://s3.amazonaws.com/lumi-blog/zip-top-bags/zip-top-bag-over.png?mtime=20180330112604" class="hidden productThumb image-ratio-high image-loaded"></a>
        </div>
        <div class="product-details">
            <h4>
                <a href="/products/clear-zip-top-bags" class="action-hover">Zip Top Bags<br></a>
            </h4>
        </div>
    </c>
    <c class="product-wrap ">
        <div class="product reveal">
            <a href="/products/clear-peel-and-seal-bags" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/clear-peel-and-seal-bags/peel-and-seal-close.png?mtime=20180330112232" class="productThumb fade-in image-ratio-high image-loaded"><img src="https://s3.amazonaws.com/lumi-blog/clear-peel-and-seal-bags/peel-and-seal-over_180402_134153.png?mtime=20180402134153" class="hidden productThumb image-ratio-high image-loaded"></a>
        </div>
        <div class="product-details">
            <h4>
                <a href="/products/clear-peel-and-seal-bags" class="action-hover">Peel and Seal Bags<br></a>
            </h4>
        </div>
    </c>
    <c class="product-wrap ">
        <div class="product reveal">
            <a href="/products/frosted-peel-and-seal-bags" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/frosted-peel-and-seal-bags/frosted-close_180330_113325.png?mtime=20180330113324" class="productThumb fade-in image-ratio-high image-loaded"><img src="https://s3.amazonaws.com/lumi-blog/frosted-peel-and-seal-bags/frosted-over.png?mtime=20180330112529" class="hidden productThumb image-ratio-high image-loaded"></a>
        </div>
        <div class="product-details">
            <h4>
                <a href="/products/frosted-peel-and-seal-bags" class="action-hover">Frosted Peel and Seal Bags<br></a>
            </h4>
        </div>
    </c>
    <c class="product-wrap ">
        <div class="product reveal">
            <a href="/products/zip-top-bubble-bags" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/zip-top-bubble-bags/zip-top-bubble-close.png?mtime=20180330113536" class="productThumb fade-in image-ratio-high image-loaded"><img src="https://s3.amazonaws.com/lumi-blog/zip-top-bubble-bags/zip-top-bubble-over.png?mtime=20180330113538" class="hidden productThumb image-ratio-high image-loaded"></a>
        </div>
        <div class="product-details">
            <h4>
                <a href="/products/zip-top-bubble-bags" class="action-hover">Zip Top Bubble Bags<br></a>
            </h4>
        </div>
    </c>
    <c class="product-wrap ">
        <div class="product reveal">
            <a href="/products/slide-top-bubble-bags" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/slide-top-bubble-bags/slide-bubble-close.png?mtime=20180330113352" class="productThumb fade-in image-ratio-high image-loaded"><img src="https://s3.amazonaws.com/lumi-blog/slide-top-bubble-bags/slide-top-bubble-over.png?mtime=20180330113354" class="hidden productThumb image-ratio-high image-loaded"></a>
        </div>
        <div class="product-details">
            <h4>
                <a href="/products/slide-top-bubble-bags" class="action-hover">Slide Top Bubble Bags<br></a>
            </h4>
        </div>
    </c>
    <c class="product-wrap ">
        <div class="product reveal">
            <a href="/products/drawstring-cotton-bags" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/drawstring-cotton-bags/drawstring-cotton-close.png?mtime=20180330113616" class="productThumb fade-in image-ratio-high image-loaded"><img src="https://s3.amazonaws.com/lumi-blog/drawstring-cotton-bags/drawstring-cotton-over.png?mtime=20180330113619" class="hidden productThumb image-ratio-high image-loaded"></a>
        </div>
        <div class="product-details">
            <h4>
                <a href="/products/drawstring-cotton-bags" class="action-hover">Cotton Drawstring Bags<br></a>
            </h4>
        </div>
    </c>
    <c class="product-wrap ">
        <div class="product reveal">
            <a href="/products/cotton-zipper-bags" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/cotton-zipper-bags/zipper-cotton-close.png?mtime=20180330114226" class="productThumb fade-in image-ratio-high image-loaded"><img src="https://s3.amazonaws.com/lumi-blog/cotton-zipper-bags/zipper-cotton-over.png?mtime=20180330114227" class="hidden productThumb image-ratio-high image-loaded"></a>
        </div>
        <div class="product-details">
            <h4>
                <a href="/products/cotton-zipper-bags" class="action-hover">Cotton Zipper Bags<br></a>
            </h4>
        </div>
    </c>
    <c class="product-wrap ">
        <div class="product reveal">
            <a href="/products/tote-bags" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/cotton-tote-bags/cotton-tote-close.png?mtime=20180330114157" class="productThumb fade-in image-ratio-high image-loaded"><img src="https://s3.amazonaws.com/lumi-blog/cotton-tote-bags/cotton-tote-over.png?mtime=20180330114159" class="hidden productThumb image-ratio-high image-loaded"></a>
        </div>
        <div class="product-details">
            <h4>
                <a href="/products/tote-bags" class="action-hover">Tote Bags<br></a>
            </h4>
        </div>
    </c>	</grid>          </div>
          </div>
                <div class="bt ppt">
            <div class="row row-mobile pb">
              <div class="column column-20">
                <h4><a href="/collections/tubes">Tubes</a></h4>
              </div>

              <div class="column">
                            <grid columns-s="3" columns-l="5">

    <c class="product-wrap ">
        <div class="product reveal">
            <a href="/products/shipping-tubes" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/spiral-mailer-tubes/spiral-mailer.png?mtime=20180330102823" class="productThumb fade-in image-ratio-high image-loaded"></a>
        </div>
        <div class="product-details">
            <h4>
                <a href="/products/shipping-tubes" class="action-hover">Shipping Tubes<br></a>
            </h4>
        </div>
    </c>
    <c class="product-wrap ">
        <div class="product reveal">
            <a href="/products/telescope-tubes" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/telescope-tubes/telescope-tube_thumbnail-far_0087_181210_174530.png?mtime=20181210174530" class="productThumb fade-in image-ratio-high image-loaded"></a>
        </div>
        <div class="product-details">
            <h4>
                <a href="/products/telescope-tubes" class="action-hover">Telescope Tubes<br></a>
            </h4>
        </div>
    </c>	</grid>          </div>
          </div>
                <div class="bt ppt">
            <div class="row row-mobile pb">
              <div class="column column-20">
                <h4><a href="/collections/void-fill">Void Fill</a></h4>
              </div>

              <div class="column">
                            <grid columns-s="3" columns-l="5">

    <c class="product-wrap ">
        <div class="product reveal">
            <a href="/products/butcher-paper" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/butcher-paper/butcher-paper.png?mtime=20180402164002" class="productThumb fade-in image-ratio-high image-loaded"></a>
        </div>
        <div class="product-details">
            <h4>
                <a href="/products/butcher-paper" class="action-hover">Butcher Paper<br></a>
            </h4>
        </div>
    </c>
    <c class="product-wrap ">
        <div class="product reveal">
            <a href="/products/tissue-paper" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/tissue-paper/tissue-paper-opaque.png?mtime=20180402164349" class="productThumb fade-in image-ratio-high image-loaded"></a>
        </div>
        <div class="product-details">
            <h4>
                <a href="/products/tissue-paper" class="action-hover">Tissue Paper<br></a>
            </h4>
        </div>
    </c>	</grid>          </div>
          </div>
                <div class="bt ppt">
            <div class="row row-mobile pb">
              <div class="column column-20">
                <h4><a href="/collections/supplies">Supplies</a></h4>
              </div>

              <div class="column">
                            <grid columns-s="3" columns-l="5">

    <c class="product-wrap ">
        <div class="product reveal">
            <a href="/products/hang-tags" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/hang-tags/hang-tag_180330_120129.png?mtime=20180330120129" class="productThumb fade-in image-ratio-high image-loaded"></a>
        </div>
        <div class="product-details">
            <h4>
                <a href="/products/hang-tags" class="action-hover">Hang Tags<br></a>
            </h4>
        </div>
    </c>
    <c class="product-wrap ">
        <div class="product reveal">
            <a href="/products/sticker-labels" class="action-hover"><img src="https://s3.amazonaws.com/lumi-blog/sticker-labels/stickers-copy-copy.png?mtime=20180402141515" class="productThumb fade-in image-ratio-high image-loaded"></a>
        </div>
        <div class="product-details">
            <h4>
                <a href="/products/sticker-labels" class="action-hover">Roll Labels<br></a>
            </h4>
        </div>
    </c>	</grid>          </div>
          </div>

        <div class="bt pt">
          <div class="c pn3 ps4">
            <h3>Can't find what you need?</h3>
                    <a href="/get-started" class="btn font-system mn1">Request a quote</a>
                  </div>
        </div>


    </div>
    </div>

    <div class="footer bt pn2 ps4">
    <div class="wrap-m">
        <div class="row row-mobile list muted">
            <div class="column">
            <div class="row row-no-padding">
                <div class="column">
                <ul>
                    <li><a href="https://www.lumi.com/products">Catalog</a></li>
                    <li><a href="https://www.lumi.com/features">Why Lumi</a></li>
                    <li><a href="https://www.lumi.com/updates">Updates</a></li>
                </ul>
                </div>
                <div class="column">
                <ul>
                    <li><a href="https://blog.lumi.com">Blog</a></li>
                    <li><a href="https://www.lumi.com/wellmade">Podcast</a></li>
                    <li><a href="https://www.lumi.com/shippingthings">Videos</a></li>
                </ul>
                </div>
            </div>
            </div>
            <div class="column">
            <div class="row row-no-padding">
                <div class="column">
                <ul>
                    <li><a href="https://www.lumi.com/about">About</a></li>
                    <li><a href="https://www.lumi.com/team">Team</a></li>
                    <li><a href="https://www.lumi.com/jobs">Jobs</a></li>
                    <li><a href="https://www.lumi.com/press">Press</a></li>
                </ul>
                </div>
                <div class="column">
                <ul>
                    <li><a href="https://www.lumi.com/help">FAQs</a></li>
                    <li><a href="https://www.lumi.com/help/dielines">Dielines</a></li>
                    <li><a href="https://www.lumi.com/lead-times">Lead Times</a></li>
                    <li><a href="https://www.lumi.com/terms">Legal</a></li>
                </ul>
                </div>
            </div>
            </div>
            <div class="column column-33">
            <div class="primary sb">Join the mailing list</div>
            <form action="//lumi.us2.list-manage.com/subscribe/post?u=6e65c1f76f8073758d0326ea7&amp;id=0b17fccdac" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
                <input type="email" value="" name="EMAIL" class="email smaller full" id="mce-EMAIL" placeholder="Email address" required="">
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_6e65c1f76f8073758d0326ea7_0b17fccdac" tabindex="-1" value="">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                </div>
            </form>
            <div class="st">
                <a class="pr" href="https://www.instagram.com/lumi/" target="_blank"><img src="https://s3.amazonaws.com/lumi-assets/social-42b-ig.png" width="21px"></a>
                <a class="pr" href="https://twitter.com/lumi" target="_blank"><img src="https://s3.amazonaws.com/lumi-assets/social-42b-tw.png" width="21px"></a>
                <a href="https://www.youtube.com/user/lumihq" target="_blank"><img src="https://s3.amazonaws.com/lumi-assets/social-42b-yt.png" width="21px"></a>
            </div>
            </div>
        </div>
    </div>


    <script>
            function openMobileNav() {
                document.getElementsByClassName('header-links')[0].classList.value.indexOf('is-active') < 0 ?
                    document.getElementsByClassName('header-links')[0].classList.add('is-active') :
                    document.getElementsByClassName('header-links')[0].classList.remove('is-active');
                document.getElementsByClassName('hamburger')[0].classList.value.indexOf('is-active') < 0 ?
                    document.getElementsByClassName('hamburger')[0].classList.add('is-active') :
                    document.getElementsByClassName('hamburger')[0].classList.remove('is-active')
            }
            document.getElementsByClassName('hamburger--squeeze')[0].onclick = function (target) {
                return openMobileNav()
            }
            function myFunction() {
                document.getElementById("dropdown").classList.toggle("dropdown--active")
            }
            window.onclick = function (event) {
                if (!event.target.matches('.dropdown__trigger')) {
                    var openDropdown = document.getElementById("dropdown");
                    if (openDropdown.classList.contains('dropdown--active')) {
                        openDropdown.classList.remove('dropdown--active')
                    }
                }
            }
            !function (t, e, o) {
                var r = t.querySelector("#navbar");
                if (!r) return !0; var n = 0, s = 0, p = 0, a = 0, i = 0;
                e.addEventListener("scroll", function () {
                    n = r.offsetHeight,
                        t.body.offsetHeight,
                        e.innerHeight,
                        p = e.pageYOffset,
                        i = a - p,
                        s = parseInt(e.getComputedStyle(r).getPropertyValue("top")) + i,
                        p <= 0 ?
                            r.style.top = "0px" :
                            i > 0 ?
                                r.style.top = (s > 0 ? 0 : s) + "px" :
                                i < 0 && (r.style.top = (Math.abs(s) > n ? -n : s) + "px"), a = p
                })
            }(document, window);

        window.intercomSettings = {
            app_id: "iayss0fd"
        };

        (function () {
            var w = window;
            var ic = w.Intercom;
            if (typeof ic === "function") {
                ic('reattach_activator');
                ic('update', intercomSettings);
            } else {
                var d = document; var i = function () {
                    i.c(arguments)
                }; i.q = [];
                i.c = function (args) { i.q.push(args) }; w.Intercom = i;
                function l() {
                    var s = d.createElement('script'); s.type = 'text/javascript';
                    s.async = true; s.src = 'https://widget.intercom.io/widget/iayss0fd';
                    var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
                } if (w.attachEvent) {
                    w.attachEvent('onload', l);
                } else {
                    w.addEventListener('load', l, false);
                }
            }
        })();
    </script>

</div>
