@import "styles";

.task__list {
  overflow-y: auto;
  margin: 0;

  li {
    position: relative;

    // align-content: center;
    // flex-wrap: wrap;
    @include border();
    font-size: min(1rem, 18px);
    background-color: $primary;
    @include paddingBox;

    &:nth-child(even) {
      background-color: $black;
    }

    p {
      font-size: 1rem;
      color: $white;
      margin: 0;
      display: inline-flex;
    }
    time {
      font-size: 76%;
      color: $white;
      margin: 0;
      display: inline-flex;
    }
  }
}

.taskInfo {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-rows: auto auto;
  gap: $margin;
  // justify-content: space-between;
}

.checkbox {
  position: relative;

  /* ???? */
  [type="checkbox"] {
    &:active,
    &:checked:active {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    }
  }

  /* Base for label styling */
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    cursor: pointer;
    position: absolute;
    left: 0.25em;
    top: 0.25em;
    opacity: 0.01;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: relative;
    font-weight: bold;
    cursor: pointer;
  }

  [type="checkbox"]:checked + label {
    text-decoration: line-through;
    font-weight: normal;
    color: $gray;
    transition: all 0.275s;
  }

  /* checkbox aspect */
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    position: relative;
    display: inline-block;
    margin-right: $margin;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    width: 1rem;
    height: 1rem;
    @include border;
    background-color: $white;
    content: "";
    cursor: pointer;
    transition: all $duration;
  }

  /* checked mark aspect */
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    position: absolute;
    top: -0.2em;
    left: 0.075em;
    background: transparent;
    font-weight: 900;
    font-size: 1.38em;
    line-height: 1rem;
    content: "\2714";
    color: $primary;
    transition: all $duration;
  }
  .task {
    display: inline;
    font-weight: bold;
  }

  /* checked mark aspect changes */
  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }

  [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }

  /* Disabled checkbox */
  // [type="checkbox"]:disabled:not(:checked) + label:before,
  // [type="checkbox"]:disabled:checked + label:before {
  //   box-shadow: none;
  //   border-color: #bbb;
  //   background-color: #e9e9e9;
  // }

  // [type="checkbox"]:disabled:checked + label:after {
  //   color: #777;
  // }

  // [type="checkbox"]:disabled + label {
  //   color: #aaa;
  // }

  /* Accessibility */
  // [type="checkbox"]:checked:focus + label:before,
  // [type="checkbox"]:not(:checked):focus + label:before {
  //   box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 0 6px rgba(203, 34, 237, 0.2);
  // }
}

.task__details_container {
  position: relative;
  display: inline;
}

.task__details {
  display: none;
  grid-column: 1 / 4;
  padding: $padding;
  @include border();
  background-color: $white;
  .details__header {
    color: $black;
    margin: 0;
  }

  .description {
    color: $black;
    font-size: 1rem;
  }
}

.show {
  display: block;
}

.more {
  display: inline;
  // padding: $padding;
  cursor: pointer;
}

.hasRecurrence {
  visibility: hidden;
  .show {
    visibility: visible;
  }
}

.topbar {
  display: flex;
  justify-content: space-between;
}
