.printlake-markdown h1 {
  font-size: 1.75rem;
  font-weight: bold;
}

.printlake-markdown h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.printlake-markdown h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.printlake-markdown h4 {
  font-size: 1.15rem;
  font-weight: bold;
}

.printlake-markdown h5,
.printlake-markdown h6 {
  font-size: 1rem;
  font-weight: bold;
}

.printlake-markdown em {
  font-style: italic;
  color: rgba(255, 255, 255, 0.7);
}

.printlake-markdown a {
  text-decoration: underline;
}

.printlake-markdown p {
  line-height: 1.75rem;
}

.printlake-markdown ol,
.printlake-markdown ul {
  margin: 0rem;
  padding: 0rem;
  white-space: normal;
  line-height: 1.75rem;
}

.printlake-markdown li {
  margin-bottom: 0.5rem;
  margin: 0rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding: 0rem;
}

.printlake-markdown ul ul,
.printlake-markdown ul ol,
.printlake-markdown ol ul,
.printlake-markdown ol ol {
  padding-left: 1.25rem; /* Increase left padding for nested lists */
}

.printlake-markdown a {
  text-decoration: underline;
  color: #007bff; /* Blue color */
  transition: color 0.15s ease-in-out; /* Smooth color transition */
}

.printlake-markdown a:hover {
  color: #0056b3; /* Darker blue color on hover */
}

.printlake-markdown a:visited {
  color: #6c757d; /* Gray color for visited links */
}
