.row-banner {
  padding-top: 16px;
}
.row-banner .popover {
  width: 400px;
  overflow: hidden;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.row-banner .popover-content {
  text-align: center;
}
.row-banner .popover-content img {
  max-width: 250px;
  height: 212px;
}
.row-banner .dropdown-menu {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.row-banner .dropdown-menu > li > a:hover {
  color: white;
  background-color: rgb(0, 129, 194);
  background-color: rgba(0, 129, 194, 0.5);
  background-image: none;
}
.row-banner .dropdown-menu > li > a.maintainHover {
  color: white;
  background-color: #0081c2;
}
.primary-banner {
  width: 1370px;
  margin: 30px auto 0;
}
.primary-nav {
  position: relative;
  width: 290px;
  height: 430px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
  background-color: #1b2337;
  background-color: #1b2337;
}
.primary-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.primary-nav .nav-item {
  width: 100%;
  height: 43px;
  margin-bottom: 0;
  padding-right: 26px;
  padding-left: 20px;
  line-height: 43px;
  cursor: pointer;
}
.primary-nav .nav-item.active {
  color: #333;
  background: #fff;
}
.primary-nav .nav-item .nav-title {
  color: #fff;
}
.primary-nav .nav-item.active .nav-title {
  color: #1b2337;
}
.primary-nav .nav-item ::before {
  display: none;
}
.nav-item .nav-sub {
  display: none;
}
.nav-item .nav-sub .inner {
  padding: 15px;
}
.nav-item.active .nav-sub {
  position: absolute;
  top: 0;
  left: 100%;
  display: block;
  width: 800px;
  height: 430px;
  background: #efefef;
}
.photo-item {
  width: 400px;
  height: 90px;
  margin: 0 20px 10px 0;
  overflow: hidden;
}
.photo-item .image {
  float: left;
  width: 120px;
  height: 90px;
}
.photo-item .image img {
  width: 100%;
}
.photo-item .detail {
  margin-left: 140px;
  padding: 5px 0;
}
.photo-item .detail .title {
  margin-bottom: 5px;
  color: #333;
}
.photo-item .detail .desc {
  margin-bottom: 5px;
  color: #999;
}
.process-step {
  text-align: center;
}

// choose.tsx
.card {
  .content {
    padding: 80px 40px;
    background-color: #f7f6f5;
    transition: all 0.1s linear;
  }
  .content:hover {
    background-color: #ddf3ff;
  }
}

// index
.content {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 1260px;
  margin: 20px auto;
  .main {
    width: 970px;
  }
  .sider {
    width: 270px;
  }
}
.entryListContainer {
}
.entryListWrap {
}
.entryList {
  width: 100%;
  background-color: #fff;
}
