<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{% block title %}wwb{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keyworkds" content="content">
<meta name="description" content="content">
<meta name="author" content="content">
<meta name="copyright" content="www.mogujie.com"/>
<meta name="robots" content="index, follow">
<meta name="renderer" content="webkit">
<meta name="referrer" content="always">
<!-- No Baidu Siteapp -->
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta name="application-name" content="TDP">
<link title="RSS" type="application/rss+xml" rel="alternate" href="/rss"/>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Cache-Control" content="no-siteapp">
<title>wwb</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keyworkds" content="content">
<meta name="description" content="content">
<meta name="author" content="content">
<meta name="copyright" content="www.mogujie.com"/>
<meta name="robots" content="index, follow">
<meta name="renderer" content="webkit">
<meta name="application-name" content="TDP">
<meta name="baidu-site-verification" content="YxlOkYoc2q" />
{% block header %}
{% endblock %}
