.boxWrap {
  margin-bottom: 10px;
  font-size: 14px;
  background: #fff;
  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
  border-radius: 4px;
  // background-color: var(--box-background-color);
  border-radius: 3px;
  // border-radius: var(--box-border-radius);
  box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
  // border-bottom: 1px solid var(--box-border-color);
  .boxCell {
    padding: 10px;
    font-size: 14px;
    line-height: 150%;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
    // border-bottom: 1px solid var(--box-border-color);
  }
  .boxInner {
    padding: 10px;
  }
}
