.avatar-content {
  display: flex;
  align-items: center;

  .avatar {
    // margin-left: 17px;
    display: inline-block;
    background: #efefef;
    background-size: 100% 100%;
    border-radius: 50%;
    cursor: pointer;
  }

  .user-abstract {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    margin-left: 12px;

    .username {
      min-height: 14px;
      overflow-x: hidden;
      color: #262626;
      font-weight: 600;
      font-size: 14px;
      line-height: 14px;
      white-space: nowrap;
      text-overflow: ellipsis;
      background: #efefef;
    }

    .abstract {
      min-height: 14px;
      margin-top: 5px;
      overflow-x: hidden;
      color: #999;
      font-size: 12px;
      line-height: 14px;
      white-space: nowrap;
      text-overflow: ellipsis;
      background: #efefef;
    }
  }
}
