.dropdown-menu {
  left: 0;
  right: auto;
  position: absolute;
  z-index: 100;
  width: 350px;
  top: 17px;
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 0.2s ease-in,
    transform 0.2s ease-in;
  transform: translateY(10px);
}
.dropdown-menu-inner {
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 8px 1px rgb(33 41 60 / 10%);
  border-radius: 8px;
  margin-top: 25px;

  .dropdown-submenu {
    position: absolute;
    left: 100%;
    top: -25px;
  }
}
.dropdown-menu-hover {
  opacity: 1;
  transform: translateY(10px);
  pointer-events: unset;
}
