.comp-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
}

.copyright {
  display: block;
  font-size: 12px;
  line-height: 1;
  transform: scale(0.95);
}

.copyright strong {
  font-weight: 400;
}

.copyright a {
  display: inline-block;
  padding: 0 3px;
}

.deps {
  font-size: 10px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  transform-origin: center;
  color: #fff;
}
.deps .dep {
  margin: 0 5px;
}
.deps .dep strong {
  font-weight: 400;
}
.deps .dep sup {
  transform: scale(0.7);
  display: inline-block;
}
