.wrap {
  transform: translateY(0px);
  will-change: transform;
  transition: all 0.3s ease;
}
.card {
  display: block;
  min-height: 60px;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 20px -5px rgb(158 158 158 / 20%);
  transition: background-color 0.3s;
  padding: 1rem;
  color: #444;
  @apply rounded-md bg-gray-100;
}
.name {
  font-weight: 700;
}
.desc {
  font-size: 0.8rem;
  color: #888;
  text-decoration: none;
}
