<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Nomadlist</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="https://nomadlist.com/" class="nav-item">Cities</a>
        </li>
        <li>
          <a href="https://nomadlist.com/collections" class="nav-item">Collections</a>
        </li>
        <li>
          <a href="https://nomadlist.com/work" class="nav-item">Places to Work</a>
        </li>
        <li>
          <a href="https://nomadforum.io" class="nav-item">Forum</a>
        </li>
        <li>
          <a href="https://hashtagnomads.com/chat" class="nav-item chat">Chat</a>
        </li>
        <li>
          <a href="https://nomadtrips.co" class="nav-item">Trips</a>
        </li>
        <li>
          <a href="https://remoteok.io" class="nav-item">Remote Jobs</a>
        </li>
        <li>
          <a href="https://nomadlist.com/stories" class="nav-item">Stories</a>
        </li>
        <li>
          <a href="https://nomadlist.com/about" class="nav-item">About</a>
        </li>
        <li>
          <a href="https://join.nomadlist.com" class="join-nomads button reverse red top-bar-item tooltip-set" title="">Join</a>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
