// @import '~@leaa/www/src/styles/variables.less';

.wrapper {
  min-height: 600px;
}

.container {
  min-height: 600px;
  background: transparent;
}

.spin {
  //background-color: #fff;
  //opacity: 1;
}
