.container-daohang {
  padding-top: 30px;
  padding-bottom: 60px;
}
.container-daohang .daohang-title {
  text-algin: center;
  font-size: 32px;
  font-weight: 700;
}
.container-daohang .daohang-section {
  margin-bottom: 10px;
}
.container-daohang .daohang-category {
  font-size: 22px;
}
.container-daohang .daohang-links {
}
.container-daohang .daohang-links a {
  float: left;
  display: inline-block;
  padding: 3px 5px;
}
