@import "styles";

.Form {
  width: 100%;
  color: $text_light;
  min-width: 62vw;
  max-height: 90vh;
  overflow-y: auto;
}

@media screen and (min-width: $desktop) {
  .Form {
    min-width: 38vw;
  }
}

.FormHeader {
  background-color: $primary;
  padding: $padding;
  padding-top: $padding * 2.62;
  font-size: $goldenPercent;

  .title {
    margin: 0;
    text-transform: capitalize;
  }
}

.FormBody {
  padding: $padding;

  label {
    text-transform: capitalize;
    display: block;

    input,
    textarea {
      margin-bottom: $margin;
      width: 100%;
      display: block;
      color: $black;
      @include paddingBox;

      &[type="checkbox"] {
        display: inline-block;
        margin-left: $margin * $goldenRatioDecrease;
        width: initial;
      }

      &:focus {
        outline: none;
      }

      &:disabled {
        visibility: hidden;
      }
    }
  }
}

.FormFooter {
  display: flex;
  justify-content: flex-end;
  border-top: $border;
  flex-wrap: wrap;
}
